<!--<script type="text/javascript">-->
    <!--$(window).load(function()-->
    <!--{-->
        <!--$('#example').glDatePicker();-->
    <!--});-->
<!--</script>-->
<div class="insert-input" ng-controller="schemasShowController">
    <div class="user-container">
        <div class="user-insert-input">
            <form>
                <ul class="user-input-info">
                    <li>
                        <i>课程：</i>

            <span>
              <select name="courseId" ng-model="courseId">
                      <option ng-repeat="course in courses" value ="{{course.courseId}}" >{{course.name}}</option>
              </select>
             </span>
                    </li>
                    <li>
                        <i>教练：</i>
            <span>
              <select name="coachId" ng-model="coachId">
                      <option ng-repeat="employee in employees" value ="{{employee.emloyeeId}}" >{{employee.employeeName}}</option>
              </select>

            </span>
                    </li>
                    <li>
                        <i>时间：</i><span><input id="example" class="input-insert" type="text" name="date" ng-model="dateTime"/></span>
                    </li>
                    <span><input class="input-button" type="submit" value="Submit" ng-click="schemaAdd()"/></span>
                </ul>
            </form>
        </div>
    </div>
</div>

<div class="data-show">
    <div id="error" class="errorContainer" hidden>
        <p class="errorMessage">This coach has lessens at that date,please change a date!!!</p>
    </div>
    <p class="check-list">近期课程安排
        <a type="button" href="#/privateSchemaOperate">private</a>
    </p>

    <div class="table">
        <div class="table-container">
            <div class="table-title">
                <div class="table-header-inner">
                    <table class="table-header">
                        <thead>
                        <tr>
                            <th>
                                <div class="th-inner">课程名称</div>
                            </th>
                            <th>
                                <div class="th-inner">负责教练</div>
                            </th>
                            <th>
                                <div class="th-inner">课程时间安排</div>
                            </th>
                            <th>
                                <div class="th-inner">课程状态</div>
                            </th>
                            <th>
                                <div class="th-inner">课程类型</div>
                            </th>
                            <th>
                                <div class="th-inner"></div>
                            </th>
                            <th>
                                <div class="th-inner"></div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-body-inner">
                    <table class="table-body">
                            <tr ng-repeat="schema in schemas">
                                <td width="50px" align="center"> <div class="th-inner">{{schema.course.name}}</div></td>
                                <td width="30px" align="center"><div class="th-inner">{{schema.employee.employeeName}}</div></td>
                                <td width="30px" align="center"><div class="th-inner">{{schema.date}}</div></td>
                                <td width="30px" align="center"><div class="th-inner">{{schema.state}}</div></td>
                                <td width="30px" align="center"><div class="th-inner">{{schema.type}}</div></td>
                                <td width="30px" align="center"><div class="th-inner"><a class="btn user delete" type="button" ng-click="schemaDelete(schema.schemaId)">delete</a></div></td>
                                <td width="30px" align="center"><div class="th-inner"><a class="btn user update" type="button" ng-click="">update</a></div></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
