<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="com.tw.core"/>
     <!--用于读取properties文件，此处将数据库连接的用户名密码等存在jdbc.properties文件中 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!-- 配置数据库连接 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/${jdbc.url}" />
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>
    <!-- 整合hibernate -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.tw.core"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
                <prop key="hibernate.connection.pool_size">1</prop>
            </props>
        </property>
        <!-- 持久化类，注解形式 -->
        <property name="annotatedClasses">
            <list>
            <value>com.tw.core.bean.Course</value>
            <value>com.tw.core.bean.User</value>
            <value>com.tw.core.bean.Customer</value>
            <value>com.tw.core.bean.Employee</value>
            <value>com.tw.core.bean.Schema</value>
            </list>
        </property>
    </bean>
    <!-- 事务管理  注：事实上当事务管理器名字为transactionManager时，就不需要加transaction-manager属性 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>